h1 {
    color:rgb(35, 34, 53);
    font-family: sans-serif;
    font-size: 30px;
    display: inline-block;
    margin-right: 20px;
}

input {
    width: 250px;
    height: 30px;
}

h3 {
    font-size: 30px;
    display: inline-block;
    margin-right: 20px;
}

p {
    display: inline-block;
    font-size: 30px;
    color:rgb(35, 34, 53);
}